.bg{
    background-image: url('../assets/bg8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
  
    border-radius: 20px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, .75),
      rgba(255, 255, 255, .32)
    );
    box-shadow:
      inset 4px 4px 5px 0 rgba(255, 255, 255, .25),
      inset -4px -4px 5px 0 rgba(0, 0, 0, 0.125),
      0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1em);
}
.glass{
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  /* backdrop-filter: blur(1px); */
}